* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #f5f5f5;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #b83f45;
    font-size: 80px;
    font-weight: 200;
}

a {
    text-decoration: none;
}

#form {
    display: flex;
    place-content: center;
}

#select-all {
    appearance: none;
    position: absolute;
    color: #4d4d4d;
    padding: 1.5rem 1rem;
}

#select-all:checked {
    color: black;
}

#select-all::before {
    content: "🔽";
}

#search {
    padding: 16px 16px 16px 60px;
    border: none;
    box-shadow: -1px 1px 20px 0px rgb(0 0 0 / 13%);
    font-size: 24px;
    height: 65px;
    width: 33rem;
    outline: 0;
    font-style: italic;
}

#search::placeholder {
    color: #b6b6b6;
    font-weight: 100;
}

#search:focus,
#select-all:focus,
.unchecked-container:active,
.checked-container:active {
    box-shadow: 0 0 2px 2px #CF7D7D;
}

main {
    margin: 1px auto 0 auto;
    width: 33rem;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    background-color: white;
    box-shadow: -1px 1px 20px 0px rgb(0 0 0 / 13%);
}

main div button {
    border: none;
    background: none;
    display: none;
}

main div:hover>button {
    display: block;
}

.unchecked-container,
.checked-container {
    padding: 1rem;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

main div div label {
    margin-left: 1rem;
}

.checked-container div label {
    text-decoration: line-through;
    color: #949494;
}

main div div input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 50px;
    transform: translateY(0.5rem);
}

main div div input:checked {
    border-color: lime;
}

main div div input:checked::before {
    content: "✓";
    color: lime;
    position: absolute;
    font-size: 20px;
    left: 8px;
    bottom: 1px;
}


/* hides todos in the list when user filters with
    all/active/completed buttons in controls */
.hidden-todo {
    display: none;
}

/*
commented out for testing purposes 
#todo-controls {
    display: none;
}
*/

#todo-controls {
    display: flex;
    width: 33rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 0;
    font-size: 15px;
    background-color: white;
}

#todo-controls span {
    margin-left: 1rem;
}

#todo-controls ul {
    list-style-type: none;
    margin-left: 5rem;
}


#todo-controls ul li {
    display: inline-block;
    margin: 0 3px;
}

#todo-controls ul li button {
    color: rgb(17, 17, 17);
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 7px;
}

#todo-controls ul li:nth-child(4) button {
    margin-left: 4rem;
}

#todo-controls ul li button .active,
#todo-controls ul li button:hover {
    border: 1px solid #CE4646;
}

footer {
    font-size: 11px;
    color: #4d4d4d;
    margin-top: 4rem;
}

footer p {
    margin: 1em;
}

footer p a {
    color: #4d4d4d;
}

@media screen and (max-width: 550px) {

    main,
    #todo-controls {
        width: 100vw;
    }

    #todo-controls span, #todo-controls ul li {
        margin: 0;
    }
}